<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{{ page.title }} | joegallo.org</title>

    <script type="text/javascript" src="/includes/jquery-1.4.min.js"></script>

    <link rel="stylesheet" href="/includes/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/includes/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/includes/ie.css" type="text/css" media="screen, projection"><![endif]-->
  </head>
  <body>
    <div class="container">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
  </body>
</html>
